/*

	newsservicegallery Stylesheet
	
	Use the CSS rules below to modify the look of your gallery.
	
	To create additional rules, use the markup below as a guide to newsservicegallery's architecture.
	
	<div class="gallery">
		<div class="panel">
			<img src="path/to/image.jpg" />
			<div class="panel-overlay">
				...overlay content...
			</div>
			<div class="overlay-background"></div>
		</div>
		<ul class="filmstrip">
			<li class="frame current">
				<img src="path/to/thumbnail.jpg" />
				<div class="caption">caption text</div>
			</li>
			<li class="frame">
				<img src="path/to/thumbnail.jpg" />
				<div class="caption">caption text</div>
			</li>
		</ul>
	</div>
		

*/

/* required for the wordpres default theme */
.newsservicegallery ul li:before {	content: '' !important; }

/* IMPORTANT - Change '#photos' to the ID of your gallery list to prevent a flash of unstyled content */
.newsservicegallery { visibility: hidden; }

/* GALLERY CONTAINER */
.newsservicegallery .gallery { background: #ddd; border: 1px solid #aaa; padding: 5px;}

/* GALLERY PANELS */
.newsservicegallery .panel { }

/* DEFINE HEIGHT OF PANEL OVERLAY */
/* NOTE - It is best to define padding here as well so overlay and background retain identical dimensions */
.newsservicegallery .panel .panel-overlay,
.newsservicegallery .panel .overlay-background { height: 60px; padding: 0 1em; }

.newsservicegallery .overlay { visibility: hidden !important; }

.newsservicegallery .panel.has-description .overlay { visibility: visible !important; opacity: 0.8 !important; }

/* PANEL OVERLAY BACKGROUND */
.newsservicegallery .panel .overlay-background { background: #222; }

/* PANEL OVERLAY CONTENT */
.newsservicegallery .panel h3 { margin-bottom:5px; margin-top: 0; }
.newsservicegallery .panel .panel-overlay { color: white; font-size: 0.7em; padding: 10px; }
.newsservicegallery .panel .panel-overlay a { color: white; text-decoration: underline; font-weight: bold; }
.newsservicegallery .panel .panel-overlay p {
	margin: 0;
	padding-top: 5px;
}

.newsservicegallery .panel img { width: 480px; height: 320px;}

/* FILMSTRIP */
/* 'margin' will define top/bottom margin in completed gallery */
.newsservicegallery .filmstrip { margin: 5px !important; text-indent: 0px !important;}

.newsservicegallery .filmstrip li { margin:5px !important; }

.newsservicegallery .filmstrip li:before { content: none !important; }

.newsservicegallery .filmstrip img {width: 40px; height:  40px;} 

/* FILMSTRIP FRAMES (contains both images and captions) */
.newsservicegallery .frame {}

/* WRAPPER FOR FILMSTRIP IMAGES */
.newsservicegallery .frame .img_wrap { border: 1px solid #aaa; }

/* WRAPPER FOR CURRENT FILMSTRIP IMAGE */
.newsservicegallery .frame.current .img_wrap { border-color: #000; }

/* FRAME IMAGES */
.newsservicegallery .frame img { border: none; }

/* FRAME CAPTION */
.newsservicegallery .frame .caption { font-size: 11px; text-align: center; color: #888; }

/* CURRENT FRAME CAPTION */
.newsservicegallery .frame.current .caption { color: #000; }

/* POINTER FOR CURRENT FRAME */
.newsservicegallery .pointer { border-color: #000; }

/* TRANSPARENT BORDER FIX FOR IE6 */
/* NOTE - DO NOT CHANGE THIS RULE */
*html .pointer { filter: chroma(color=pink); }